<div class="row">

  <div class="col-md-6 col-md-offset-3">
     
    <div class="well">
    
      <%if params[:plan] == '2' %>
      <h1 class="text-center">Pro Account</h1>
      <h2 class="text-center">Sign up for the pro account for $10/month and get full access to the community and contact information!</h2>
      <%= render "pro_form" %>
      <%else%>
      <h1 class="text-center">Basic Account</h1>
      <h2 class="text-center">Sign up for free and get basic access to the community.</h2>
      <%= render "basic_form" %>
      <%end%> <!--end of Ruby code to display relevant Sign Up forms headers-->
      
    </div><!--end of well -->
    </div>   <!--end of col-md-6 col-md-offset-3 layout -->
</div>  <!--end of row  -->
