<div class="jumbotron text-center">
  <h1>Welcome to Procoder Jamaica</h1>
  <h2>Find the best coders in Jamaica and take your business to the next level!</h2>
</div> <!--end of jumbotron text-center-->

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3 class="text-center">Basic Membership</h3>
      <h4 class="text-center">Sign up for free and get basic access to the community.</h4>
      <br/>
      <%=link_to "Sign up for a Basic account", new_user_registration_path(plan:@basic_plan.id), class:'btn btn-primary btn-lg btn-block' %>
    </div>
  </div> <!--end of left column-->
  <div class="col-md-6">
    <div class="well">
      <h3 class="text-center">Pro Membership</h3>
      <h4 class="text-center">Sign up for the pro account for $10/month and get full access to the community and contact information!</h4>
      <%=link_to "Sign up for Pro account", new_user_registration_path(plan:@pro_plan.id), class:'btn btn-success btn-lg btn-block' %>
    </div>
  </div> <!--end of right column-->
</div> <!--end of columnar layout-->

  